:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #d2d2d2;
}

@media (min-width: 1200px) {
    .container, .container-xl, .container-lg, .container-md, .container-sm {
        max-width: 1140px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
}

h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2, .h2 {
        font-size: 2rem;
    }
}

h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 1.75rem;
    }
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-18px {
    font-size: 18px;
}

.fw-500 {
    font-weight: 500;
}

p.hint {
    color: var(--bs-red);
}

div.card.reset {
    padding: 32px;
}

div.card.reset a {
    padding: 6px 16px;
}

.btn.btn-clear {
    border: transparent;
}

@media (min-width: 576px) {
    .modal-sm-md {
        max-width: 444px;
    }
    .modal-md {
        max-width: 600px;
    }
}

.btn-clipboard:focus:active {
    box-shadow: none;
}

.btn-clipboard:hover {
    color: #00bc8c
}

html, body {
    margin: 0;
    height: 100%;
}

.toast-info {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
}