{% extends 'home.html' %}

{% block title %}
    ShortLink - User Profile
{% endblock %}

{% block content %}
    <section class="main">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    {% for user_url in user_urls %}
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="card-top d-flex justify-content-between">
                                    <div>
                                        <h4 class="card-title">Google</h4>  {# FIXME replace with user_url.title #}
                                        <h6 class="card-subtitle mb-2 text-muted">{{ user_url.full_url }}</h6>
                                    </div>
                                    <button type="button" class="btn btn-outline-light" disabled>{{ user_url.created_at }}</button>
                                </div>
                                <hr>
                                <div class="card-bottom d-flex justify-content-between">
                                    <a href="/{{ user_url.hash_url }}"
                                       class="card-link text-decoration-none" target="_blank">
                                        http://{{ request.get_host }}/{{ user_url.hash_url }}
                                    </a>
                                    <a class="btn btn-outline-info" href="#" role="button">
                                        <i class="bi bi-bar-chart"></i>
                                        <span class="badge bg-info">{{ user_url.clicks }}</span> Clicks
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </section>

{% endblock %}