{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="main py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2>URL Shortener</h2>
                </div>

                <div class="col-12 text-center mt-4 mb-3">
                    <p class="lead">Enter a long URL to make a short one</p>
                    <form id="shorten_form" method="post">
                        {% csrf_token %}
                        <div class="input-group input-group-lg">
                            {{ form.full_url }}
                            <button class="btn btn-info" type="submit">Shorten</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
         }
    </script>
{% endblock script %}