{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login | ShortLink
{% endblock %}

{% block content %}
    <section class="log-in py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
                    <div class="text-center mt-2 mb-4">
                        <h3 class="fw-light">Log in and start shortening</h3>
                        <span>Don't have an account? <a href="{% url 'register' %}" class="text-decoration-none">Sign up</a></span>
                    </div>

                    <form id="login" method="post">{% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ form.username }}
                            <label for="floatingInputUsername">Username</label>
                        </div>

                        <div class="form-floating">
                            {{ form.password }}
                            <label for="floatingPassword">Password</label>
                        </div>

                        <div class="text-end mb-2">
                            <a href="{% url 'password_reset' %}" class="text-decoration-none">Forgot password?</a>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-success fw-bold text-uppercase" type="submit">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/csrf.js' %}"></script>
    <script type="module" src="{% static 'js/login.js' %}"></script>
{% endblock %}