{% extends 'index.html' %}

{% block title %}
    ShortLink - Login
{% endblock %}

{% block content %}
    <section class="log-in py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-5 mx-auto">
                    <div class="text-center mt-2 mb-4">
                        <h3 class="fw-light">Log in and start shortening</h3>
                        <span>Don't have an account? <a href="{% url 'register' %}" class="text-decoration-none">Sign up</a></span>
                    </div>

                    <form method="post">{% csrf_token %}{{ form.non_field_errors }}
                        <div class="form-floating mb-3">
                            {{ form.username }}
                            <label for="floatingInputUsername">Username</label>
                            <p class="hint mt-1">
                                {% for error in form.username.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </p>
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.password }}
                            <label for="floatingPassword">Password</label>
                            <p class="hint mt-1">
                                {% for error in form.password.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </p>
                        </div>

                        {% for message in messages %}
                            {% if message.level != DEFAULT_MESSAGE_LEVELS.INFO %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}


                        <div class="d-grid mb-2">
                            <button class="btn btn-primary fw-bold text-uppercase"
                                    type="submit">Log in
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
