{% extends 'base.html' %}
{% load static %}


{% block title %}
    Password recovery | ShortLink
{% endblock %}


{% block content %}
     <section id="password-reset" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <div class="card text-center border border-secondary p-5">
                        <div class="card-body">
                    <div class="text-center mt-2 mb-4">
                        <h3 class="fw-light">Forgot Your Password?</h3>
                        <p class="text-muted">Enter your email address and we'll send the instructions to get you back on track.</p>
                    </div>

                    <form id="password_reset" method="post">{% csrf_token %}
                        <div class="form-floating">
                            {{ form.email }}
                            <label for="floatingInputEmail">Email</label>
                        </div>
                        <p class="hint">
                            {% for error in form.email.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>

                        <div class="d-grid">
                            <button class="btn btn-primary fw-bold text-uppercase" type="submit">Reset</button>
                        </div>
                    </form>
                        </div></div>
                </div>
            </div>
        </div>
     </section>
{% endblock %}

{% block script %}
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
         }
    </script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/password_reset.js' %}"></script>
{% endblock %}