<div class="row">
    <div class="col-sm-8 col-md-6 mx-auto">
        <div class="card reset text-center border border-secondary">
            <div class="card-body">
                <h4 class="card-text">Password was successfully changed!</h4>
                <p class="text-muted mb-4">You can use your new password just now.</p>
                <a class="btn btn-success fw-bold text-uppercase" href="{% url 'login' %}">
                    <span>Proceed to login</span>
                </a>
            </div>
        </div>
    </div>
</div>