{% extends 'base.html' %}
{% load static %}

{% block title %}
    Registration | ShortLink
{% endblock %}

{% block content %}
    <section class="sign-up py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
                    <div class="text-center mt-2 mb-4">
                        <h3 class="fw-light">First time here? Sign up for <strong>ShortLink</strong></h3>
                        <span>
                            Already have an account?
                            <a href="{% url 'login' %}" class="text-decoration-none">Log in</a>
                        </span>
                    </div>

                    <form id="register" method="post">{% csrf_token %}{{ form.non_field_errors }}
                        <div class="form-floating mb-3">
                            {{ form.username }}
                            <label for="floatingInputUsername">Username</label>
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.email }}
                            <label for="floatingInputEmail">Email address</label>
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.password1 }}
                            <label for="floatingPassword">Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.password2 }}
                            <label for="floatingPasswordConfirm">Confirm Password</label>
                        </div>

                        <div class="d-grid mb-2">
                            <button class="btn btn-success fw-bold text-uppercase" type="submit">
                                Create an account
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script async src="{% static 'js/validate_form.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script type="module" src="{% static 'js/register.js' %}"></script>
{% endblock %}